
<div class="d-flex gap-3 mt-3" >
    <div class="d-flex flex-column">
        
        <div echarts [options]="echartsOptions1" class="demo-chart" style="width: 120px; height: 40px;"></div>
        <p class="text-secondary text-center">Visitors</p>
    </div>
    
    <div class="d-flex flex-column">
        
        <div echarts [options]="echartsOptions2" class="demo-chart" style="width: 120px; height: 40px;"></div>
        <p class="text-secondary text-center">Visits</p>
    </div>
    
    
    
</div>
