<div class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="bi bi-list"></i>
    </div>

    <a class="navbar-brand" href="#">
        <img src="../../assets/logo.svg" alt="Dasboard" width="30" height="24">
    </a>

    <div class="navbar-collapse">
        <div class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="" class="dropdown-item">Child 1</a></li>
                    <li><a href="" class="dropdown-item">Child 2</a></li>
                    <li><a href="" class="dropdown-item">Child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="" class="dropdown-item">Child 1</a></li>
                    <li><a href="" class="dropdown-item">Child 2</a></li>
                    <li><a href="" class="dropdown-item">Child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="" class="dropdown-item">Child 1</a></li>
                    <li><a href="" class="dropdown-item">Child 2</a></li>
                    <li><a href="" class="dropdown-item">Child 3</a></li>
                </ul>
            </li>
        </div>
    </div>

    <!-- <form class="float-left mt-2 position-relative w-25 d-none d-lg-block" role="search">
        <div class="float-left input-group mb-3 ">
          <input type="text" class="form-control" placeholder="Search Here ..." aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
              class="bi bi-search"></i></button>
        </div>
      </form> -->

      <form class="d-flex me-5">
        <input type="search" class="form-control" placeholder="Search" name="" id="">
       <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

      <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            joyline
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="" class="dropdown-item">Sign UP</a></li>
            <li><a href="" class="dropdown-item">Login</a></li>
            <li><a href="" class="dropdown-item">Your profile</a></li>
        </ul>
      </div>

</div>