.list-group{
    .active{
        background-color: #f4f7f6;
        color: #5a5656 !important;
    }
}

.list-group{
    .list-group-item:hover{
        background-color: #f4f7f6;
    }
}

.text-truncate{
    max-width: 90%;
}