<div class="card">
    <div class="card-body">
        <p><strong>Lucid Activities</strong></p>

        <ul class="timeline">
            <li class="green">
                <p class="mb-1 small">20-04-2018-Today</p>
                <h5>Hello, 'Im a single div responsive timeline without media Queries!</h5>
                <p class="small mb-3"><a href="#" class="text-decoration-none">Elisse Joson</a> San Francisco, CA</p>
                <p class="small mb-3">I'm speaking with myself, number one, because I have a very good brain and I've
                    said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web
                    card she has is the Lorem card.</p>
                <div class="d-flex gap-4 small">
                    <a href="" class="text-decoration-none"> <i class="bi bi-heart"></i> Like</a>
                    <a href="" class="text-decoration-none"> <i class="bi bi-chat-dots"></i> Comment</a>
                </div>
            </li>
            <li>
                <p class="mb-1 small">20-04-2018-Today</p>
                <h5>Hello, 'Im a single div responsive timeline without media Queries!</h5>
                <p class="small mb-3"><a href="#" class="text-decoration-none">Elisse Joson</a> San Francisco, CA</p>
                <p class="small mb-3">I'm speaking with myself, number one, because I have a very good brain and I've
                    said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web
                    card she has is the Lorem card.</p>
                <div class="d-flex gap-4 small">
                    <a href="" class="text-decoration-none"> <i class="bi bi-heart"></i> Like</a>
                    <a href="" class="text-decoration-none"> <i class="bi bi-chat-dots"></i> Comment</a>
                </div>
            </li>
            <li>
                <p class="mb-1 small">19-04-2018-Yesterday</p>
                <h5>An Engineer Explains Why You Should Always Order the Larger Pizza</h5>
                <p class="small mb-3"><a href="#" class="text-decoration-none">Gary Camara </a>San Francisco, CA</p>
                <p class="small mb-3">I'm speaking with myself, number one, because I have a very good brain and I've
                    said a lot of things. on the web by far... While that's mock-ups and this is politics, are they
                    really so different? I think the only card she has is the Lorem card.</p>
                <div class="d-flex gap-4 small">
                    <a href="" class="text-decoration-none"> <i class="bi bi-heart"></i> Like</a>
                    <a href="" class="text-decoration-none"> <i class="bi bi-chat-dots"></i> Comment</a>
                </div>
            </li>
        </ul>

    </div>
</div>