<div class="row gy-4 mb-4">

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card1.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">John Smith</h6>
                <p class="small mb-1 px-2 ">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card2.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">Hossein Shams</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card3.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">Maryam Amiri</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card4.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">Thim Hank</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card5.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">John Smith</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card1.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">Frank Camly</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                <img src="../../assets/card2.jpg" alt="Contact card" class="card-img rounded-circle mt-3">

                <h6 class="mt-4">Gary Camara</h6>
                <p class="small mb-1 px-2">795 Folsom Ave, Suite 600 San Francisco,</p>
                <p class="text-uppercase small">CADGE 94107</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow">
            <div class="card-body align-self-center align-items-center text-center">
                

                <h6 class="mt-5 mb-3">Add New Contact</h6>

                <button class="btn btn-sm btn-outline-primary mb-5"><i class="bi bi-plus-circle-fill"></i></button>
            </div>
        </div>
    </div>

    

</div>